@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: url("../vendor/fonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("../vendor/fonts/PlayfairDisplay-Regular.ttf");
}
