.grid {
  display: grid;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-template-columns: 246px 595px;
  grid-template-rows: 25px 25px 185px;
  gap: 12px 36px;
  grid-template-areas:
    "grid__img grid__title"
    "grid__img grid__date-subtitle"
    "grid__img grid__text";
  border-bottom: 1px solid rgb(224, 224, 224);
  margin-bottom: 40px;

  &__img {
    grid-area: grid__img;
  }
  &__title {
    grid-area: grid__title;
  }
  &__title-text {
    margin: 0;
    font-family: "Old Standard TT";
  }

  &__subtitle {
    margin: 0;
    font-family: "Old Standard TT";
  }
  &__date-subtitle {
    grid-area: grid__date-subtitle;
    display: flex;
  }

  &__date {
    margin: 0;
    margin-right: 15px;
    font-family: "Old Standard TT";
  }
  &__text {
    grid-area: grid__text;
  }
  &__photo {
    width: 246px;
    height: 180px;
    object-fit: cover;
  }
  &__link {
    font-family: "Old Standard TT";
    text-decoration: none;
    position: relative;
    color: black;
  }
  &__link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 3%;
    background-color: #18272f;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  &__link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}
@media (max-width: 400px) {
  .grid {
    border-bottom: 2px solid rgb(201, 197, 197);
    grid-auto-rows: 1fr;
    grid-template-columns: 339px;
    grid-template-rows: 300px 25px 25px auto;
    gap: 0px 18px;
    grid-template-areas:
      "grid__img"
      "grid__title"
      "grid__date-subtitle"
      "grid__text";

    &__photo {
      width: 339px;
      height: 230px;
    }
    &__title-text {
      text-wrap: nowrap;
    }
    &__text {
      margin-bottom: 25px;
    }
  }
}
