.header {
  width: 1152px;
  display: flex;
  justify-content: flex-end;

  &__nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    font-family: "Old Standard TT";
  }
  a {
    text-decoration: none;
    font-family: "Old Standard TT";
    color: black;
  }

  @media (max-width: 414px) {
    width: 414px;
    height: 35px;
    font-family: "Old Standard TT";
    a {
      color: white;
    }
  }
}
