.header {
  width: 1152px;
  display: flex;
  justify-content: flex-end;

  &__nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    font-family: "Playfair Display";
  }
  a {
    text-decoration: none;
    font-family: "Playfair Display";
    color: black;
  }
}
